**/*
!app/**/*
!livebook/**/*
app/.dockerignore
app/.elixir_ls
app/.git
app/_build
app/assets/coverage
app/**/node_modules
app/deps
app/doc
app/Dockerfile
app/priv/cert
app/priv/seed_data
app/priv/static
app/priv/nodejs/*/node_modules
app/README.md
app/terraform
app/test
