# The directory Mix will write compiled artifacts to.
/app/_build/

# If you run "mix test --cover", coverage assets end up here.
/app/cover/

# The directory Mix downloads your dependencies sources to.
/app/deps/

# Local config files
/app/config/*.local.exs

# Where 3rd-party dependencies like ExDoc output generated docs.
/app/doc/*
!/app/doc/architecture
!/app/doc/architecture/*
!/app/doc/diagrams
!/app/doc/diagrams/*
!/app/doc/wireframes
!/app/doc/wireframes/*

# Ignore .fetch files in case you like to edit your project deps locally.
/app/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
meadow-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/app/assets/coverage/

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/app/priv/static/
/app/priv/cert/
/app/priv/seed_data/

.elixir_ls

*.tfvars

/infrastructure/**/.terraform/
/infrastructure/**/_build/
/infrastructure/**/build/
/infrastructure/**/package/
/infrastructure/**/*.plan

/app/tmp/

# Accounts for a package on the front-end to enable autocomplete for Jest in VSCode
node_modules
yarn.lock
/app/package.json
/app/priv/nodejs/*/node_modules/.yarn-integrity
/app/assets/yarn-error.log

# Ide files
.vscode

.DS_Store
**/*/.DS_Store
