button.button {
  border-radius: 2px;
}

dt {
  font-weight: bold;
}

footer {
  .logo {
    max-width: 250px;
  }
}

.input[type="text"],
.input[type="email"] {
  max-width: 350px;
  &.fullwidth {
    width: 100%;
  }
}

table {
  caption {
    @extend .has-text-grey;
    @extend .is-italic;
    @extend .is-size-6;
  }
  &.is-fixed {
    table-layout: fixed;
  }
}

#root {
  background-color: $white-ter;
}

.break-word {
  overflow-wrap: break-word;
}
.buttons-end {
  @extend .field;
  @extend .has-addons;
  justify-content: flex-end;
}

.small-title {
  @include small-title;
}

// This override is only necessary due to a CSS nameing collision with npm "react-toastify" package
.notification {
  &.is-danger {
    background-color: $red2 !important;
  }
}

// navbar-dropdown collapse options for mobile menu
.navbar-dropdown,
.has-dropdown input[type="checkbox"] {
  display: none;
}

#dropdown1:checked ~ .navbar-dropdown,
#dropdown2:checked ~ .navbar-dropdown {
  display: block;
}

// TODO: Find a better way to override these overrides via Bulma variables
.message.is-success .message-body {
  color: $success;
}
.tag:not(body).is-success.is-light {
  color: $success;
}
