@font-face {
  font-family: "Akkurat Pro Regular";
  src: url("./fonts/AkkuratPro-Regular.otf");
}
@font-face {
  font-family: "Akkurat Pro Light";
  src: url("./fonts/AkkuratPro-Light.otf");
}
@font-face {
  font-family: "Akkurat Pro Light Italic";
  src: url("./fonts/AkkuratPro-LightItalic.otf");
}
@font-face {
  font-family: "Akkurat Pro Italic";
  src: url("./fonts/AkkuratPro-Italic.otf");
}
@font-face {
  font-family: "Akkurat Pro Bold";
  src: url("./fonts/AkkuratPro-Bold.otf");
}
@font-face {
  font-family: "Akkurat Pro Bold Italic";
  src: url("./fonts/AkkuratPro-BoldItalic.otf");
}
@font-face {
  font-family: "Campton Book";
  src: url("./fonts/CamptonBook.otf");
}
@font-face {
  font-family: "Campton Bold";
  src: url("./fonts/CamptonBold.otf");
}
@font-face {
  font-family: "Campton Extra Bold";
  src: url("./fonts/CamptonExtraBold.otf");
}
@font-face {
  font-family: "Campton Extra Light";
  src: url("./fonts/CamptonExtraLight.otf");
}
