.facet-checkbox + label:hover {
  color: $nu-purple !important;
}
.facet-checkbox:hover + label::before {
  border-color: $nu-purple !important;
  color: $nu-purple !important;
}
.facet-checkbox:checked + label::before {
  border-color: $nu-purple !important;
  background-color: $nu-purple !important;
}

.range-slider {
  .rheostat-progress {
    background-color: $nu-purple-60 !important;
  }
  .slider-tooltip {
    background-color: $rich-black-80 !important;
  }
}
