.dockerignore
.elixir_ls
.git
_build
assets/coverage
**/node_modules
config/dev*.exs
config/test*.exs
deps
doc
Dockerfile
priv/cert
priv/seed_data
priv/static
priv/nodejs/*/node_modules
README.md
terraform
test
