ul.validate {
  list-style-type: none;
}

ul.validate li:before {
  content: "â—";
  padding-right: 10px;
}

li.pass:before {
  color: green;
}

li.pending:before {
  color: yellow;
}

li.fail:before {
  color: red;
}
