// web fonts
@font-face {
  font-family: "Akkurat Pro Light";
  src: url("#{$path-fonts}/AkkuratProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Light Italic";
  src: url("#{$path-fonts}/AkkuratProLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Regular";
  src: url("#{$path-fonts}/AkkuratProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Italic";
  src: url("#{$path-fonts}/AkkuratProItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Bold";
  src: url("#{$path-fonts}/AkkuratProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Bold Italic";
  src: url("#{$path-fonts}/AkkuratProBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Light";
  src: url("#{$path-fonts}/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("#{$path-fonts}/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Bold";
  src: url("#{$path-fonts}/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Light";
  src: url("#{$path-fonts}/Poppins-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
