.facet-checkbox + label:hover {
  color: $nu-purple !important;
}
.facet-checkbox:hover + label::before {
  border-color: $nu-purple !important;
  color: $nu-purple !important;
}
.facet-checkbox:checked + label::before {
  border-color: $nu-purple !important;
  background-color: $nu-purple !important;
}

.range-slider {
  .rheostat-progress {
    background-color: $nu-purple-60 !important;
  }
  .slider-tooltip {
    background-color: $rich-black-80 !important;
  }
}

.rs-input {
  height: 2.5em !important;
  padding-left: 2.5rem !important;
}
.rs-input + div > div:first-child {
  top: 30px !important;
}
.rs-input + div > div:last-child {
  top: 30px !important;
}
