@charset "utf-8";
@import "./scss/fonts";

// Get access to Bulma variables
// @import "bulma/sass/utilities/initial-variables";

// Custom variables go before importing Bulma
@import "./scss/variables";

@import "~bulma/bulma";
@import "~bulma-switch/dist/css/bulma-switch";
@import "~bulma-checkradio/dist/css/bulma-checkradio";
@import "~bulma-pageloader/dist/css/bulma-pageloader";

@import "./scss/mixins";
@import "./scss/base";
@import "./scss/loading";
