---
name: Meadow Tests
on:
  push:
    branches-ignore:
      - "main"
      - "deploy/**"
      - "build/**"
jobs:
  js-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: ./.tool-versions
          cache: 'npm'
          cache-dependency-path: |
            app/assets/package-lock.json
            app/priv/nodejs/*/package-lock.json
            lambdas/*/package-lock.json
      - name: Install NPM
        run: npm install -g npm@${{ env.NPM_VERSION }}
        env:
          NPM_VERSION: 11.6.0
      - name: Frontend CI
        run: make app-frontend-ci
  elixir-test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: ./.tool-versions
          cache: 'npm'
          cache-dependency-path: |
            app/assets/package-lock.json
            app/priv/nodejs/*/package-lock.json
            lambdas/*/package-lock.json
      - name: Start service containers in background
        run: make localstack-start &
      - uses: erlef/setup-beam@v1
        with:
          version-file: ./.tool-versions
          version-type: strict
      - uses: hashicorp/setup-terraform@v3
      - name: Cache Elixir dependencies and build
        uses: actions/cache@v4
        with:
          path: |
            app/_build
            app/deps
          key: ${{ runner.os }}-hex-v6-${{ hashFiles('app/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-hex-v6-${{ hashFiles('app/mix.lock') }}
            ${{ runner.os }}-hex-v6-
      - name: Install Elixir dependencies
        run: make app-compile
        env:
          MIX_ENV: test
      - name: Elixir Static Analysis
        run: make app-lint
      - name: Wait for services to be ready
        run: timeout 120 bash -c 'while ! ./all-healthy.sh; do sleep 2; done'
        working-directory: ./infrastructure/localstack
      - name: Set SECRET_KEY_BASE
        run: echo "SECRET_KEY_BASE=$(openssl rand -hex 32)" >> $GITHUB_ENV
      - name: Provision Localstack using Terraform
        run: make localstack-provision
      - name: Elixir Tests
        run: make app-test
        env:
          AWS_LOCALSTACK: true
          USE_SAM_LAMBDAS: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MEADOW_TEST_SAVE_SEED: ${{ runner.temp }}/MEADOW_TEST_SEED
      # - name: Test DB Rollback
      #   run: mix ecto.rollback --all
      #   working-directory: app
